/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* ****************************************************************** */

:root {
    --white: #fefbd8;
    --grey_blue: #618685;
    --dark-blue: #36486b;
    --light-blue: #4040a1;
}

body{
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

header{
    background-color: var(--dark-blue);
    min-height: 5vh;
    padding: 10px;
}

main{
    background-color: var(--light-blue);
    flex-grow: 1;
}

footer{
    background-color: var(--dark-blue);
    min-height: 5vh;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

img{
    max-width: 100px;
    background-color: var(--dark-blue);

    border-radius: 10px;
    padding: 15px;

    cursor: pointer;
}